.hero-unit{
	text-align:center;
	line-height:100px;

}
.mgb50{
	margin-bottom:50px;
}
.slogan {
	padding-top:300px;
	color:#FFFFFF;
}
.center{
	text-align:center;
}
.about{
	font-size:14px;
	line-height:20px;

}
.copyright{
	padding-top:30px;

}
.footer{
	padding-top:20px;
	background-color:#373940;
	color:#FFFFFF;
	height:130px;
	line-height:20px;
}
.hero-unit{
	padding:60px;
	margin-bottom:30px;
	font-size:18px;
	font-weight:200;
	color:inherit;
	background-color:#eee;
	-webkit-border-radius:6px;-moz-border-radius:6px;			
	border-radius:6px;
	background-image: url(http://7xnh17.com1.z0.glb.clouddn.com/banner.png);
	height: 500px;
}
.hero-unit h1{margin-bottom:0;font-size:60px;line-height:1;letter-spacing:-1px;color:inherit}
.hero-unit li{line-height:30px}.pull-right{float:right}.pull-left{float:left}.hide{display:none}.show{display:block}.invisible{visibility:hidden}.affix{position:fixed}
